<h1>{{ title }}</h1>
<br />
<button routerLink="/page/0">Title Page</button>
<button routerLink="/page/1">Prologue</button>
<button routerLink="/page/2">Louisiana and Caribbean Recipes</button>
<button routerLink="/page/3">More Favorite Recipes</button>
<button routerLink="/page/4">Boeuf Bourguignon</button>
<button routerLink="/page/5">Cabbage Francais</button>
<button routerLink="/page/6">Whole Stuffed Cabbage</button>
<button routerLink="/page/7">Bacond Fried Carrots</button>
<button routerLink="/page/8">Carrots Marsala</button>
<button routerLink="/page/9">Chicken Jambalaya</button>
<br />
<router-outlet></router-outlet>
