<form class="search-bar-form" (ngSubmit)="goToPage()">
  <mat-form-field class="search-bar-full-width">
    <input type="text"
           placeholder="Search"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        <a href="/page/1">{{ option }}</a>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<!-- <div *ngFor="let option of options">
  <p>{{option}}</p>
</div> -->
